*{
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#index{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 100vh;
    background-color: #253659;
    color: #F27457;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#links{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F27457;
    margin-top: 30px;
    padding: 30px;
    gap:10px;
    border-radius: 5px;
    font-size: 1.5rem;
}
#links a{
    text-decoration: none;
    color: #253659;
}
#links a:hover{
    font-weight: bold;
}